html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 100px;
}

footer {
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	padding: 15px 0;
	background-color: #f5f5f5;
}

.fully-center {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	margin: auto;
}

.login {
	width: 250px;
	height: 400px;
}

.login button {
	width: 100%;
}

.alert {
	margin-top: 10px;
}

#time {
	font-family: 'Raleway';
	font-size: 60px;
	font-weight: 100;
}

#logo {
	height: 100%;
	display: inline;
}

.login-name {
	margin-right: -10px;
}

.col {
	padding: 0px 15px;
	height: 200px;
	margin-bottom: 30px;
}

.col-inner {
	background: url("../images/container-pattern.png") repeat #f03e05;
	height: 200px;
	text-align: center;
	font-size: 38px;
	font-family: 'Raleway';
	color: #fff;
	text-decoration: none;
	border-radius: 10px;
	transition: all 0.3s;
}

.col-inner h2 {
	padding-top: 80px;
	margin-bottom: -10px;
	font-size: 38px;
	font-family: 'Raleway';
	color: #fff;	
}

.col-inner i {
	font-size: 15px;
	clear: both;
	width: 100%;
}

.col-inner-edit {
	background: url("../images/container-pattern.png") repeat #f88807;
}

.col-inner:hover {
	transform: scale(1.04);
	text-decoration: none;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

a:hover {
	text-decoration: none;
}

.center-text {
	display: block;
	width: 100%;
	text-align: center;
}

#messages {
  z-index: 2000;
  width: 250px;
  position: fixed;
  top: 10px;
  right: 10px;
  text-align: right;
  height: 100%;
}

#messages .message {
  margin-top: 10px;
  text-align: left;
  margin: 0 0 10px 0;
}

/* Clock */

.time-circle {
	width: 180px;
	height: 180px;
	margin: 50px auto;
	position: relative;
	border: 8px solid #fff;
	border-radius: 50%;
	box-shadow: 0 1px 8px rgba(34,34,34,0.3),inset 0 1px 8px rgba(34,34,34,0.3);
	background-color: #DDDDDD;
}

.time-face {
	width: 100%;
	height: 100%;
}

.time-hour {
	width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -4px 0 -4px -25%;
	padding: 4px 0 4px 25%;
	background: #fff;
	-webkit-transform-origin: 100% 50%;
	-ms-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	box-shadow: 0 1px 8px rgba(34, 34, 34, 0.3);
	border-radius: 4px 0 0 4px;
}

.time-minute {
	width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -40% -3px 0;
	padding: 40% 3px 0;
	background: #fff;
	-webkit-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	box-shadow: 0 1px 8px rgba(34, 34, 34, 0.3);
	border-radius: 3px 3px 0 0;
}

.time-second {
	width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -40% -1px 0 0;
	padding: 40% 1px 0;
	background: #f03e05;
	box-shadow: 0 1px 8px rgba(34, 34, 34, 0.3);
	-webkit-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}