.fully-center {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	margin: auto;
}

.login {
	width: 250px;
	height: 400px;
}

.login button {
	width: 100%;
}

.alert {
	margin-top: 10px;
}

#time {
	font-family: 'Raleway';
	font-size: 60px;
	font-weight: 100;
	width: 100%;
	text-align: center;
}

#logo {
	height: 100%;
	display: inline;
}

.login-name {
	margin-right: -10px;
}